.dropdown {
    color: #fff;
    cursor: pointer;
    height: 50px;
    line-height: 50px;
    position: relative;
    width: 200px;
    text-align: center;
    text-decoration: none;
    z-index: 1;
}

.dropdown-menu {
    background-color: #fff;
    /*   list-style-type: none; */
    margin: 0;
    padding: 0;
    position: absolute;
    left: 0;
    opacity: 0;
    /*   text-align: center;
  top: 0; */
    /*   visibility: hidden; */
    z-index: -99999;
}

.dropdown-menu li:first-child {
    cursor: default;
}

.dropdown-menu a {
    color: #000;
    display: inline-block;
    width: 100%;
    text-decoration: none;
    -webkit-transition: all 1s;
    transition: all 1s;
}

.dropdown-menu a:hover {
    background: #ba68c8;
    color: #fff;
}

.dropdown:hover .dropdown-menu {
    // background: #7b1fa2;
    opacity: 1;
    visibility: visible;
    top: 100%;
    width: 100%;
    -webkit-transition: all .5s, background, 2s .5s linear;
    transition: all .5s, background 2s .5s linear;
}

.list {
    width: 500
}